* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: rgba(0, 0, 0, .5);
}
/* Navigation Styles */
.navbar{
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 80px; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* z-index: 1000; */
}
nav a{
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    /* margin: 0 20px; */
}
nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: peachpuff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
nav a:hover::after{
    text-decoration: none;
    transform-origin: left;
    transform: scaleX(1);
}
.nav-links{
    list-style: none;
    display: flex;
    margin-left: auto;
    /* align-items: center; */
}
.nav-links li{
    margin: 0 10px;
}
.logo img{
    max-height: 80px;
    max-width: 80px;
}
/* before login/sign up */
.btnLogin1 a, .btnSignUp a{
    /* position: absolute; */
    top: 20%;
    right: 20px;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    transition: .5s;
    text-decoration: none;
}
.btnLogin1 a:hover {
    background: rgb(235, 200, 233);
    color: #DE3F78;
    width: 60px;
}
.btnSignUp a:hover{
    background: rgb(235, 200, 233);
    color: #DE3F78;
}
/* confirm password error message */
#password-error{
    visibility: hidden;
    color: brown;
}

/* option for donor or sister */
.radio-option {
    border: 2px solid rgb(235, 200, 233);
    background: rgb(235, 200, 233);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.radio-option:hover {
    background-color: rgb(235, 200, 233);
}

/* Style for the checked (chosen) option */
.radio-option input[type="radio"]:checked + label {
    background-color: #f4b7ce;
    color: rgb(235, 200, 233);
}

.logo img{
    max-height: 80px;
    max-width: 80px;
}
/* for profile */
.btnLogin{
    position: absolute;
    top: 30px;
    right: 20px;
    width: 130px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    /* margin-left: 40px; */
    transition: .5s;
}
.btnLogin:hover{
    background: rgb(235, 200, 233);
    color: #DE3F78;
}




/* header */
.restaurant-header {
    background-color: #ffffff; /* White background for the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color:darkred;
    margin-bottom: 20px;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    margin-right: 10px;
}

.restaurant-name {
    font-size: 1.2em;
    font-weight: bold;
}

.menu-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-section li {
    margin-right: 20px;
}

.menu-section a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.person-icon {
    width: 30px; /* Adjust the size as needed */
    height: 30px;
}


/* for the responsive use */
.toggle-btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Responsive design */
@media(max-width: 992px){
    .navbar .nav-links, .navbar .btn-cart, .btnLogin{
        display: none;
    }
    .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }
}
@media(max-width: 576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}


/* this one is login/sign up */
.wrapper{
    position: relative;
    width: 400px;
    height: 540px; /*because of this the empty area above*/
    background: white;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}
/* .wrapper.active-popup{
    transform: scale(1);
    top: 107px;
    left: 402px;
}
.wrapper.active{
    height: 620px;
} */
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
/* .wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
} */
/* .wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
} */
.wrapper .form-box.signUp{
    position: absolute;
    transition: none;
    /* transform: translateX(400px); */
}
/* .wrapper.active .form-box.signUp{
    transition: transform .18s ease;
    transform: translateX(0);
} */
.form-box h2{
    font-size: 2em;
    color: #DE3F78;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #DE3F78;
    margin: 20px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #DE3F78;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #DE3F78;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #DE3F78;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #DE3F78;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
}

.remember-div{
    font-size: 1em;
    color: #DE3F78;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.remember-forgot label input{
    accent-color: #DE3F78;
    margin-right: 3px;
}
.remember-forgot a{
    color: #DE3F78;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #DE3F78;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}
.login-signUp{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-signUp p a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.login-signUp p a:hover{
    text-decoration: underline;
}